@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/inter-400.woff2") format("woff2"),
    url("../fonts/inter-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/inter-700.woff2") format("woff2"),
    url("../fonts/inter-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src:
    url("../fonts/inter-900.woff2") format("woff2"),
    url("../fonts/inter-900.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;

  width: 1270px;
  min-height: 100%;
  margin: 0 auto;

  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #2d3440;
}

.page__body--bg0 {
  background-color: #feafc3;
}

.page__body--bg1 {
  background-color: #69a9ff;
}

.page__body--bg2 {
  background-color: #fcc850;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  transform: scale(0);
}

.button {
  display: inline-block;
  padding: 12px 32px;

  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  font-weight: 700;
  border: none;
  border-radius: 26px;
  background-color: #fcfcfc;
  box-shadow: 0 0 0 4px rgb(252, 252, 252, 0.4);
}

.button--another-bg {
  color: #fcfcfc;
  background-color: #ff2f64;
  box-shadow: 0 0 0 4px rgb(255, 47, 100, 0.4);
}

/* Classes for loading icon appearance */
.button--loading,
.button--anoter-bg-loading {
  padding-right: 56px;
  background-repeat: no-repeat;
  background-position: right 32px center;
}

.button--loading {
  background-image: url('../img/icons/spinner-dark.svg');
}

.button--anoter-bg-loading {
  background-image: url('../img/icons/spinner-light.svg');
}

.button:hover {
  background-color: rgb(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px #fcfcfc;
}

.button--another-bg:hover {
  color: #2d3440;
  background-color: rgb(252, 252, 252, 0.3);
  box-shadow: 0 0 0 4px #ff2f64;
}

.button:focus {
  background-color: rgb(252, 252, 252, 0.5);
  outline: 4px solid #2d3440;
}

.button--another-bg:focus {
  color: #fcfcfc;
  background-color: #ff2f64;
  box-shadow: 0 0 0 4px #2d3440;
}

.button:active {
  background-color: rgb(252, 252, 252);
  box-shadow: 0 0 0 4px #2d3440;
}

.button--another-bg:active {
  color: #fcfcfc;
  background-color: #feafc3;
  box-shadow: 0 0 0 4px #2d3440;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:focus,
.button:disabled:active,
.button--disabled,
.button--disabled:hover,
.button--disabled:focus,
.button--disabled:active {
  font-weight: 400;
  color: #b9b9b9;
  background-color: #e7e7e7;
  outline: 4px solid rgb(252, 252, 252, 0.4);
  box-shadow: none;
  cursor: auto;
}

.button--another-bg:disabled,
.button--another-bg:disabled:hover,
.button--another-bg:disabled:focus,
.button--another-bg:disabled:active,
.button--another-bg-disabled,
.button--another-bg-disabled:hover,
.button--another-bg-disabled:focus,
.button--another-bg-disabled:active {
  font-weight: 400;
  color: #565c66;
  background-color: #b9b9b9;
  outline: 4px solid rgb(185, 185, 185, 0.3);
  box-shadow: none;
  cursor: auto;
}

/* Header */

.page__header {
  display: flex;
  width: 1170px;
  margin: 0 50px;
  padding: 24px 0;

  line-height: 20px;
}

.logo {
  display: block;
  margin-right: 16px;
}

.logo:focus {
  outline: 2px solid #2d3440;
  outline-offset: 2px;
  border-radius: 4px;
}

.nav {
  width: 1017px;
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 550px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-nav__list {
  max-width: 267px;
  margin-left: 16px;
  font-size: 14px;
  line-height: 16px;
}

.nav__item {
  position: relative;
}

.user-nav__list .nav__item:not(:nth-child(3n)) {
  margin-right: 16px;
}

.nav__link {
  position: relative;
  display: block;
  padding: 8px 16px;
  border-radius: 30px;
}

.user-nav__list .nav__link {
  min-width: 32px;
  min-height: 32px;

  background-color: rgb(252, 252, 252, 0.3);
}

.nav__link:hover {
  background-color: rgb(252, 252, 252, 0.5);
}

.nav__link:focus {
  background-color: rgb(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
}

.nav__link:active {
  background-color: #fcfcfc;
  outline: none;
}

.nav__phone {
  margin-left: auto;
  padding: 5px;
  font-weight: 700;
}

.nav__phone:focus {
  outline: 2px solid #2d3440;
  outline-offset: 2px;
  border-radius: 4px;
}

.catalog-menu .nav__link {
  padding-right: 38px;
}

.login-item .nav__link,
.cart-item .nav__link {
  padding-left: 38px;
}

.nav__link svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.catalog-menu svg {
  left: auto;
  right: 10px;
}

.login-item svg,
.cart-item svg {
  left: 16px;
  right: auto;
}

.nav__link--active,
.user-nav__list .nav__link--active {
  color: #fcfcfc;
  background-color: #ff4a78;
}

.nav__link--active svg {
  fill: #fcfcfc;
}

.catalog-menu .nav__link--active svg {
  transform: rotate(180deg);
}

.nav__link--active:hover {
  background-color: #ff4a78;
  opacity: 0.6;
}

.nav__link--active:focus {
  background-color: #ff4a78;
  outline: 2px solid #000000;
}

.nav__link--active:active {
  outline: none;
  opacity: 0.3;
}

/* Catalog popup menu */

.popup {
  position: absolute;
  right: 0;

  display: none;
  margin-top: 8px;

  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 10;
}

.catalog-menu__popup {
  width: 138px;

  right: auto;
  padding: 0;
  padding-block: 8px;

  font-size: 14px;
  list-style-type: none;
}

.catalog-menu:focus-within .catalog-menu__popup {
  display: block;
}

.catalog-menu__link {
  display: block;
  padding: 6px 16px;
}

.catalog-menu__link--new {
  padding-block: 8px;
  font-weight: 700;
}

.catalog-menu__link--current {
  color: #fcfcfc;
  background-color: #ff4a78;
}

.catalog-menu__item:first-child::after {
  content: "";
  display: block;
  width: 75%;
  height: 1px;
  margin: 4px 16px;

  background-color: #b9b9b9;
}

.catalog-menu__link:hover {
  background-color: #ffcbd8;
}

.catalog-menu__link:active {
  background-color: #ff7799;
}

.catalog-menu__link:focus {
  outline: 2px solid #2d3440;
  border-radius: 4px;
}

/* Search popup */

.search-item__popup {
  width: 356px;
  padding: 24px 16px;
}

.search-item:focus-within .search-item__popup {
  display: block;
}

/* Login popup */

.login-popup {
  width: 420px;
  padding: 48px;
  padding-bottom: 52px;
}

.login-item:focus-within .login-popup {
  display: block;
}

.login-popup__title {
  margin: 0;
  margin-bottom: 32px;

  font-size: 24px;
  line-height: 30px;
}

.login-popup__form {
  display: flex;
  flex-wrap: wrap;
}

.login-popup__list {
  flex-grow: 1;

  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style-type: none;
}

.login-popup__item:not(:last-child) {
  margin-bottom: 16px;
}

.login-popup__form .button {
  max-width: 150px;
  margin-right: 23px;
}

.login-popup__links {
  display: grid;
  row-gap: 4px;
  max-width: 150px;
  text-decoration: underline;
  text-underline-position: under;
}

.login-popup__links a:hover {
  opacity: 0.7;
}

.login-popup__links a:active {
  opacity: 0.4;
}

.login-popup__links a:focus {
  outline: 2px solid #2d3440;
  border-radius: 4px;
}


/* Cart popup */

.cart-popup {
  min-width: 288px;
  padding: 48px;
}

.cart-item:focus-within .cart-popup {
  display: block;
}

.cart-popup__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.cart-popup__title {
  margin: 0;
  margin-bottom: 32px;

  font-size: 24px;
  line-height: 30px;
}

.cart-popup__item {
  display: grid;
  grid-template-columns: 62px 164px 100px min-content;
  align-items: center;
  width: 345px;
  margin-bottom: 24px;
}

.cart-popup__item:last-child {
  margin-bottom: 0;
}

.cart-popup__img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.cart-popup__item-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;

  font-size: 18px;
  line-height: 22px;
}

.cart-popup__item-title:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.cart-popup__item-title:active {
  opacity: 0.5;
}

.cart-popup__item a:focus {
  outline: 2px solid #2d3440;
  outline-offset: 2px;
  border-radius: 4px;
}

.cart-popup__price {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.cart-popup__full-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  overflow-wrap: break-word;
}

.cart-popup__delete-button {
  width: 25px;
  height: 25px;
  padding: 0;

  background-color: #fcfcfc;
  background-image: url('../img/icons/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.cart-popup__delete-button:hover {
  background-color: rgb(255, 203, 216, 0.6);
}

.cart-popup__delete-button:active {
  opacity: 0.3;
}

.cart-popup__delete-button:focus {
  outline: 2px solid #2d3440;
}

.cart-popup__wrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  align-items: center;

  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #e7e7e7;
}

.cart-popup__wrap .button {
  width: 198px;
}

.cart-popup__total-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

/* Footer */

.page__footer {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 50px;
  padding: 48px 0;

  font-size: 14px;
  line-height: 20px;
}

.socials {
  display: flex;
  flex-wrap: wrap;

  max-width: 110px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.socials__item:not(:nth-child(3n)) {
  margin-right: 12px;
}

.socials__link {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;

  background-color: #fcfcfc;
  border-radius: 50%;
  outline: 2px solid rgb(252, 252, 252, 0.3);
}

.socials__link svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6px;
  right: auto;
  margin: auto;
  width: 12px;
}

.socials__link--tg svg {
  left: 5px;
}

.socials__link:hover svg {
  fill: #2d3440;
}

.socials__link:focus {
  outline: 2px solid #2d3440;
}

.socials__link:focus svg {
  fill: #2d3440;
}

.socials__link:active {
  opacity: 0.5;
  outline: none;
}

.documents__list {
  display: grid;
  grid-template-columns: 154px 1fr;

  width: 360px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.documents__item {
  padding-left: 24px;
}

.documents__item--for-supplier {
  font-weight: 700;
  background-image: url('../img/icons/heart.svg');
  background-repeat: no-repeat;
  background-position: 0 4px;
}

.documents__link:hover {
  opacity: 0.7;
}

.documents__link:focus {
  outline: 2px solid #2d3440;
  outline-offset: 2px;
  border-radius: 4px;
}

.documents__link:active {
  outline: none;
  opacity: 0.3;
}

.copyright {
  width: 193px;
  font-size: 12px;
  line-height: 16px;
}

.copyright__logo {
  display: block;
  width: 93px;
  height: 27px;
  margin-bottom: 14px;
}

.copyright__logo:focus {
  outline: 2px solid #2d3440;
  outline-offset: 2px;
  border-radius: 4px;
}

.copyright p {
  margin: 0;
}

.copyright__text {
  text-decoration: underline;
  text-underline-position: under;
}

.copyright__text:focus {
  outline: 2px solid #2d3440;
  outline-offset: 2px;
  border-radius: 4px;
}

/* Main */

.page__main {
  width: 1170px;
  margin: 0 50px;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.offer-container {
  width: 500px;
  padding-left: 70px;
}

.main-header__title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.main-header__subtitle {
  margin: 0;
  margin-bottom: 48px;

  font-size: 18px;
  line-height: 24px;
}

.section__title {
  margin: 0;
  margin-bottom: 56px;

  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 625px;
}

.slider__img {
  position: relative;
}

.slider__img--small {
  opacity: 0.4;
}

.slider__img::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(252, 252, 252, 0.3);
  z-index: -1;
}

.slider__img--main::before {
  width: 327px;
  height: 327px;
}

.slider-btns-wrap {
  position: absolute;
  top: 50%;
  left: -19px;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-between;
  width: calc(100% + 38px);
}

.slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;

  background-color: rgb(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 50%;
}

.slider-btn:hover {
  background-color: #fcfcfc;
}

.slider-btn:hover svg {
  fill: #2d3440;
}

.slider-btn:focus {
  border: 2px solid #2d3440;
  outline: none;
}

.slider-btn:focus svg {
  fill: #2d3440;
}

.slider-btn:active {
  background-color: rgb(252, 252, 252, 0.3);
  border: none;
}

.slider-btn:disabled,
.slider-btn:disabled:hover,
.slider-btn:disabled:focus,
.slider-btn:disabled:active {
  background-color: rgb(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  opacity: 0.3;
}

.slider-btn:disabled:hover svg {
  fill: #fcfcfc;
}

.pag {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  min-width: 50px;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pag__button {
  width: 12px;
  height: 12px;

  background-color: rgb(252, 252, 252, 0.5);
  border: none;
  border-radius: 50%;
}

.pag__button--current {
  background-color: rgb(252, 252, 252);
  cursor: auto;
}

/* Promo */

.promo {
  margin-bottom: 81px;
}

.promo__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.promo-card {
  padding: 36px;
  padding-right: 220px;

  background-color: #ff7799;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  border-radius: 16px;
}

.promo-card.ruspberry {
  background-image: url('../img//bg/ruspberry.png');
}

.promo-card.marshmallow {
  background-image: url('../img//bg/marshmallow.png');
}

.promo-card__title {
  margin: 0;
  margin-bottom: 28px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.promo-card__desc {
  margin-bottom: 28px;
}

/* Advantages */

.advantages {
  margin: 80px 0;
  padding: 24px;

  background-color: #ffffff;
  background-image: url("../img/bg/waffle-bg.jpg");
  border-radius: 16px;
}

.advantages__wrapper {
  padding: 56px 40px;

  background-color: #ffffff;
  border-radius: 16px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 40px;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantages__item {
  padding-left: 64px;
  background-repeat: no-repeat;
}

.advantages__item--ice-cream {
  background-image: url('../img/icons/ice-cream.svg');
}

.advantages__item--cow {
  background-image: url('../img/icons/cow.svg');
}

.advantages__item--leaf {
  background-image: url('../img/icons/leaf.svg');
}

.advantages__item--thermometer {
  background-image: url('../img/icons/thermometer.svg');
}

/* Additional */

.additional {
  margin-bottom: 80px;
}

.additional__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* Blog */

.blog {
  width: 568px;
  padding: 32px;
  padding-bottom: 67px;

  background-color: #ffffff;
  background-image: url("../img/bg/table-setting-bg.jpg");
  background-size: contain;
  border-radius: 16px;
}

.blog__wrapper {
  width: 303px;
}

.blog__text {
  margin: 0;
  margin-bottom: 12px;

  line-height: 20px;
}

.blog__link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.blog__link:focus {
  outline: 2px solid #2d3440;
  border-radius: 4px;
}

/* Subscribe */

.subscribe {
  display: flex;
  width: 570px;
  padding: 6px;

  background-color: #ffffff;
  background-image: url("../img/bg/subscribe-bg.jpg");

  border-radius: 16px;
}

.subscribe__wrapper {
  min-height: 212px;
  padding: 26px;

  background-color: #ffffff;
  border-radius: 16px;
}

.subscribe__text {
  margin: 0;
  margin-bottom: 42px;
}

.subscribe__form {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 18px;
}

.field {
  width: 100%;
  padding: 13px 15px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;

  font-family: inherit;
  font-size: 16px;
}

.field::placeholder {
  color: #b9b9b9;
}

.field:hover {
  border-color: #2d3440;
}

.field:focus {
  outline: 2px solid #2d3440;
}

.field:invalid {
  border-color: #ea5454;
  outline: none;
}

.field:invalid:placeholder-shown {
  border-color: #b9b9b9;
}

.field:hover:invalid {
  outline: 2px solid #ea5454;
}

.field:hover:invalid:placeholder-shown {
  border-color: #2d3440;
  outline: none;
}

.field:focus:invalid:placeholder-shown {
  outline: 2px solid #2d3440;
}

.field:disabled {
  color: rgb(45, 52, 64, 0.65);
  background-color: #e7e7e7;
  border: 1px solid #b9b9b9;
}

/* Delivery */

.delivery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;

  margin-bottom: 80px;
  padding: 64px;
  padding-left: 100px;

  background-color: #ffffff;
  background-image: url("../img/bg/delivery-bg.jpg");
  background-size: cover;

  border-radius: 16px;
}

.delivery__wrapper {
  width: 371px;
}

.delivery .section__title {
  margin-bottom: 24px;
  text-align: left;
}

.delivery__form-wrapper {
  width: 500px;
  padding: 40px;

  background-color: #ffffff;
  border-radius: 8px;
}

.delivery__form-wrapper p {
  margin: 0;
  margin-bottom: 32px;
}

.delivery__form {
  display: grid;
  grid-template-columns: 117px 1fr;
  gap: 20px 16px;
}

.field-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.address-group {
  grid-column: 1 / -1;
}

.delivery__form .button {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  justify-self: center;
  margin-top: 12px;
}

.field__label {
  position: relative;
  display: block;
  margin-bottom: 8px;
  padding-right: 20px;

  line-height: 20px;
  font-weight: 700;
}

.info {
  position: absolute;
  right: 0;
  top: 5px;

  display: block;
  width: 12px;
  height: 12px;
  padding: 0;

  font-family: inherit;
  font-size: 7px;
  font-weight: 700;

  background-color: transparent;
  border: 1.5px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.info__text {
  position: absolute;
  left: 20px;
  top: -11px;

  display: none;
  min-width: 146px;
  max-width: 168px;
  padding: 10px 8px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;

  background-color: #fcfcfc;
  border: 1px solid #b9b9b9;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgb(194, 194, 194, 0.2);
}

.info__text::before {
  content: "";
  position: absolute;
  left: -5.3px;

  display: none;
  width: 9px;
  height: 9px;

  background-color: #fcfcfc;
  border-top: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;

  transform: rotate(-45deg);
}

.info:hover .info__text,
.info:hover .info__text::before {
  display: block;
}

.info:focus {
  border-width: 2px;
  outline: none;
}

/* Main Footer */

.main-footer {
  padding: 64px;

  background-color: #ffffff;
  background-image: url("../img/bg/address-bg.jpg");
  background-size: cover;

  border-radius: 16px;
}

.contacts {
  width: 343px;
  padding: 40px;

  background-color: #ffffff;

  border-radius: 8px;
}

.contacts__address {
  font-style: normal;
}

.contacts__title {
  margin: 0;
  margin-bottom: 12px;
}

.contacts__address-text,
.contacts__phone {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__phone:focus {
  outline: 2px solid #2d3440;
  outline-offset: 2px;
  border-radius: 4px;
}

.schedule {
  display: block;
  margin-bottom: 32px;
}

/* Feedback modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgb(45, 52, 64, 0.3);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;

  background-color: #fcfcfc;
  border-radius: 4px;
}

.modal-close {
  display: none;
}

.modal-feedback {
  width: 570px;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 35px;
  height: 35px;
  padding: 0;
  background-color: #fcfcfc;
  background-image: url(../img/icons/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-button:hover {
  background-color: rgb(255, 203, 216, 0.6);
}

.modal__close-button:active {
  opacity: 0.3;
}

.modal__title {
  margin: 0;
  margin-bottom: 32px;

  font-size: 24px;
  line-height: 30px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form__group {
  margin-bottom: 16px;
}

.feedback-form .button {
  margin-top: 16px;
  margin-left: auto;
}

/* Catalog header */

.catalog-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.catalog-header .section__title {
  margin-bottom: 0;
  text-align: left;
}

.breadscrumbs {
  display: flex;
  flex-wrap: wrap;
  order: -1;

  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  list-style-type: none;
}

.breadscrumbs__item:not(:last-child) {
  margin-right: 4px;
  padding-right: 20px;
}

.breadscrumbs__item {
  position: relative;
}

.breadscrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 2px;

  display: block;
  width: 12px;
  height: 12px;
  background-image: url('../img/icons/chevrons-right.svg');
}

.breadscrumbs__link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.breadscrumbs__link--current {
  text-decoration: underline;
  text-underline-position: under;
}

.breadscrumbs__link:focus {
  outline: 2px solid #2d3440;
  outline-offset: 2px;
  border-radius: 4px;
}

/* Filters */

.filters {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;

  width: 823px;
  margin-bottom: 95px;

  font-size: 14px;
  line-height: 20px;
}

.filters__group {
  margin: 0;
  padding: 0;
  border: none;
}

.filters__group-title {
  margin-bottom: 8px;
  margin-left: 16px;
}

.filters__group-container {
  padding: 8px 16px;
  background-color: rgb(252, 252, 252, 0.3);
  border-radius: 20px;
}

.sorting {
  width: 196px;
}

.sorting .filters__group-container {
  padding: 0;
}

.sorting__select {
  width: 100%;
  padding: 8px 16px;
  padding-right: 32px;

  font-family: inherit;
  font-size: 14px;
  line-height: 20px;

  background-color: transparent;
  background-image: url('../img/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center right 13px;
  border: none;
  border-radius: 20px;

  appearance: none;
}

.sorting__select--opened {
  background-image: url('../img/icons/arrow-up.svg');
}

.sorting__select:hover {
  background-color: rgb(252, 252, 252, 0.5);
}

.sorting__select:focus {
  background-color: rgb(252, 252, 252, 0.4);
  outline: 2px solid #fcfcfc;
}

.price {
  width: 196px;
}

.price .filters__group-container {
  padding-block: 16px;
}

.range {
  position: relative;
  width: 164px;
  height: 2px;
  background-color: rgb(86, 92, 102, 0.3);
  border-radius: 2px;
}

.range__bar {
  position: absolute;
  height: 2px;
  background-color: rgb(86, 92, 102);
}

.range__toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 16px;
  height: 16px;
  padding: 0;

  background-color: #fcfcfc;
  border: 6px solid #2d3440;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  left: -8px;
}

.toggle-max {
  right: -8px;
}

.range__toggle:hover,
.range__toggle:focus {
  background-color: #2d3440;
  border-color: #fcfcfc;
}

.range__toggle:focus {
  outline: 2px solid #2d3440;
  outline-offset: -2px;
}

.range__toggle:active {
  background-color: #2d3440;
  border-color: #2d3440;
}

.fat-content {
  width: 383px;
}

.control {
  position: relative;
  display: inline-block;
  margin-right: 16px;
  padding-left: 24px;
}

.fat-content .control:nth-child(4n) {
  margin-right: 0;
}

.control__mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 16px;
  height: 16px;

  border: 1.5px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}

.fat-content .control__mark {
  border-radius: 50%;
}

input[type="radio"]:checked + .control__mark::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: block;
  width: 6px;
  height: 6px;
  margin: auto;

  background-color: #2d3440;
  border-radius: 50%;
}

.fillers {
  width: 604px;
}

.fillers .control:nth-child(5n) {
  margin-right: 0;
}

input[type="checkbox"]:checked + .control__mark::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 4px;
  transform:rotate(45deg);

  display: block;
  width: 4px;
  height: 1.3px;

  background-color: #2d3440;
  border-radius: 30%;
  z-index: 2;
}

input[type="checkbox"]:checked + .control__mark::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 22%;
  transform: rotate(-45deg);

  display: block;
  width: 12px;
  height: 1.3px;

  background-color: #2d3440;
  border: 3px solid #fdc6d4;
  border-radius: 20%;
  box-sizing: content-box;
  z-index: 1;
}

input:hover + .control__mark {
  border-color: #fcfcfc;
}

input:focus + .control__mark {
  outline: 1px solid #000000;
}

input:disabled + .control__mark {
  border-color: #000000;
  opacity: 0.3;
}

input:checked:hover + .control__mark::before,
input:checked:hover + .control__mark::after {
  background-color: #fcfcfc;
}

input:checked:disabled + .control__mark::before,
input:checked:disabled + .control__mark::after {
  background-color: #000000;
}

.filters__button {
  width: 185px;
  margin-top: auto;
  padding: 8px;

  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;

  background-color: rgb(252, 252, 252, 0.3);
  border: none;
  border-radius: 20px;

  outline: 2px solid #fcfcfc;
}

.filters__button:hover {
  background-color: #fcfcfc;
  outline: 2px solid rgb(252, 252, 252, 0.3);
}

.filters__button:focus {
  background-color: rgb(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
}

.filters__button:active {
  background-color: rgb(252, 252, 252, 0.5);
  outline: none;
}

.filters__button:disabled {
  background-color: rgb(252, 252, 252, 0.3);
  outline: 2px solid #fcfcfc;
  opacity: 0.5;
}

/* Catalog */

.catalog .section__title {
  margin-bottom: 106px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 80px;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 270px;
  padding: 0 40px 24px;

  background-color: #fcfcfc;
  border-radius: 8px;
}

.catalog-card__title {
  margin: 0;
  margin-bottom: 8px;
}

.catalog-card__title,
.catalog-card__price {
  max-width: 155px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-card__img {
  margin-top: -50px;
  margin-bottom: 16px;

  border-radius: 50%;
  order: -1;
}

.catalog-card__desc {
  margin: 0;
  margin-bottom: 16px;

  text-align: center;
}

.catalog-card__wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}

.catalog-card__button {
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
  border: none;
  border-radius: 50%;
}

.catalog-card__button:hover {
  background-color: rgb(252, 252, 252, 0.3);
  border: 2px solid #ff2f64;
}

.catalog-card__button:hover svg {
  fill: #2d3440;
}

.catalog-card__button:focus {
  background-color: #ff2f64;
  border: 2px solid #2d3440;
  outline: none;
}

.catalog-card__button:focus svg {
  fill: #fcfcfc;
}

.catalog-card__button:active {
  background-color: #ffcbd8;
  border: 2px solid #ff2f64;
}

.catalog-card__button:active svg {
  fill: #2d3440;
}

.catalog-card__button:disabled,
.catalog-card__button:disabled:focus {
  background-color: #b9b9b9;
  border: none;
}

.catalog-card__button:disabled svg,
.catalog-card__button:disabled:focus svg {
  fill: #565c66;
}

/* Catalog pagination */

.catalog-pag {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  align-items: center;
  gap: 20px;
  padding-block: 41px 81px;
  border-bottom: 1px solid rgb(252, 252, 252, 0.3);
}

.catalog-pag .button {
  grid-column: 2 / 3;
  max-width: 530px;
  justify-self: center;
}

.catalog-pag__list {
  grid-column: 3 / 4;

  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 300px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style-type: none;
}

.catalog-pag__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;

  line-height: 20px;

  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.catalog-pag__link--current {
  background-color: #fcfcfc;
}

.catalog-pag__link--prev {
  background-image: url('../img/icons/arrow-left.svg');
}

.catalog-pag__link--next {
  background-image: url('../img/icons/arrow-right.svg');
}

.catalog-pag__link--inactive {
  opacity: 0.3;
  cursor: auto;
}

.catalog-pag__link:hover {
  background-color: rgb(252, 252, 252, 0.5);
}

.catalog-pag__link:focus {
  background-color: rgb(252, 252, 252, 0.3);
  border: 1px solid #2d3440;
  outline: none
}

.catalog-pag__link:active {
  background-color: rgb(252, 252, 252, 0.5);
  border: 1px solid #fcfcfc;
}

.catalog-pag__link--current:hover,
.catalog-pag__link--current:active {
  background-color: #fcfcfc;
  border: none;
}

.catalog-pag__link--inactive:hover,
.catalog-pag__link--inactive:active {
  background-color: transparent;
  border: none;
}
